.product{
    .sneaker-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        .grid-item {
            background-color: #ccc;
            padding: 20px;
            text-align: center;
          }
    }
}

.product h2{
    font-size: 40px;
    text-align: center;
    padding: 30px 0;
}

.product .dropdown{
    // position:relative;
    padding-bottom: 20px;
    right: 0;
}