.sneakerbtn-yellow{
    @include styleButton($linear, none, $pd-3+2.5, $pd-4+2, $bd-2, $ls-2, .5s);
    @include styleText(white, $fs-1, $fw-2);
    &:hover{
        opacity: 0.75;
    }
    
}

.price-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: $color-blue-4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
  }
  
/* Style the buttons */
.page-btn {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Style the active class (and buttons on mouse-over) */
.page-btn.active, .page-btn:hover {
    background-color: #666;
    color: white;
}